<div class="container my-4">
  <h4 class="text-muted">You have <strong><%= @chatrooms_count %></strong> chats <i class="fas fa-comment-alt"></i></h4>
  <% @chatrooms.reverse.each do |chatroom| %>
    <% last_message_time = chatroom.messages.last.created_at%>
    <% if policy(chatroom).show? %> <!-- CHEEKY -->
      <% participant = chatroom.participants.reject{ |participant| participant.user == current_user }%>
      <div class="card-user my-4">
        <% if participant.first.user.photo.attached?%>
          <%= cl_image_tag participant.first.user.photo.key, gravity: :face, crop: :thumb  %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <% end %>
        <div class="card-user-infos">
          <h2><%= participant.first.user.first_name%> <%= participant.first.user.last_name%></h2>
          <p>Last message: <%= time_ago_in_words(last_message_time) %> ago</p>
          <p><strong><%= participant.first.user.email %></strong></p>
        </div>
        <div class="contact-buttons">
          <%= link_to video_path(user: participant.first.user), class:"btn btn-primary" do %>
            <i class="fas fa-video"></i>
          <% end %>
          <%= link_to chatroom_path(chatroom), class:"btn btn-primary" do %>
            <i class="fas fa-comments"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
