<div class="chatroom-container">
  <div class="chat-region">
    <div class="chat-top">
      <div>
        <% participant = @chatroom.participants.reject{ |participant| participant.user == current_user }%>
        <h2>
          <%= link_to chatrooms_path, class:'text-decoration-none' do%>
            <i class="far fa-arrow-alt-circle-left"></i>
          <% end %> <%= participant.first.user.first_name%> <%= participant.first.user.last_name%>
        </h2>
      </div>
      <div>
        <%= link_to "#", class: "btn btn-dark" do%>
          <i class="fas fa-search"></i>
        <% end %>
        <%= link_to "#", class: "btn btn-dark" do%>
          <i class="fas fa-user-plus"></i>
        <% end %>
        <%= link_to new_chatroom_room_path(@chatroom), class:"btn btn-primary" do %>
          <i class="fas fa-video"></i>
        <% end %>
      </div>
    </div>
    <div id="messages" data-chatroom-id="<%= @chatroom.id%>">
      <% @chatroom.messages.reverse.each do |message|%>
        <div id="message-<%= message.id%>"
          <% if current_user == message.user %>
            class="d-flex justify-content-end"
          <% else %>
            class="d-flex justify-content-start"
          <% end %>
        >
          <div
            <% if current_user == message.user %>
              class="message-box-current-user text-light"
            <% else %>
              class="message-box-other-user text-light"
            <% end %>
          >
            <div>
              <h5><%= message.user.first_name%></h5>
              <p><%= message.content%></p>
              <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div>

    </div>
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <div class="chat-bottom">
          <div class="flex-grow-1">
            <%= f.input :content,
                        input_html: {max_rows: "5"},
                        label: false,
                        placeholder: "Message #{participant.first.user.first_name} #{participant.first.user.last_name}"%>
          </div>
          <div>
            <%= f.submit class:"d-none" %>
            <%= button_tag type: 'submit', class: "btn btn-primary" do %>
                <i class="fa fa-paper-plane" aria-hidden="true"></i> Send Message
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
  <div class="user-chatroom-cards">
    <% @chatrooms.reverse.each do |chatroom| %>
      <% last_message_time = chatroom.messages.last.created_at%>
      <% if policy(chatroom).show? %> <!-- CHEEKY -->
        <% participant = chatroom.participants.reject{ |participant| participant.user == current_user }%>
        <div class="card-user my-4">
          <% if participant.first.user.photo.attached?%>
            <%= cl_image_tag participant.first.user.photo.key, gravity: :face, crop: :thumb  %>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <% end %>
          <div class="card-user-infos">
            <h2><%= participant.first.user.first_name%> <%= participant.first.user.last_name%></h2>
            <p>Last message: <%= time_ago_in_words(last_message_time) %> ago</p>
            <p><strong><%= participant.first.user.email %></strong></p>
          </div>
          <div class="contact-buttons">
            <%= link_to chatroom_path(chatroom), class:"btn btn-primary" do %>
              <i class="fas fa-comments"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
