<div class="container my-4">
  <h1><%= link_to "Back", chatrooms_path, class:'btn btn-success' %> <%= @chatroom.name %></h1>
  <div id="messages" data-chatroom-id="<%= @chatroom.id%>">
      <% @chatroom.messages.each do |message|%>
        <div id="message-<%= message.id%>"
        <% if current_user == message.user %>
          class="text-right"
        <% else %>
          class="text-left"
        <% end %>
        >
          <%= message.content%> | <%= message.user.first_name%>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </div>
      <% end %>
  </div>
</div>
<div class="container fixed-bottom bg-light">
  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
    <div class="text-right">
      <%= f.submit class:"btn btn-primary"%>
    </div>
  <% end %>
</div>
