<div class="calendar-page m-4">
  <div class="container search-region">
    <div class="create-schedule bg-light">
      <div class="search-bar-schedule">
        <%= form_tag schedules_path, method: :get do %>
          <div>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find A Schedule"
            %>
          </div>
          <div>
            <!-- <%= submit_tag "Search", class: "btn btn-info" %> -->
            <%= button_tag type:"submit", class: "btn btn-info" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= link_to "Add", new_schedule_path, class: "btn btn-dark btn-block"%>
    </div>
    <% @schedules.each do |schedule|%>
      <div class="card-calendar">
        <div class="card-calendar-infos">
          <h2><i class="fas fa-calendar-week"></i> <%= schedule.content %></h2>
          <p><%= schedule.date %></p>
        </div>
        <% if policy(schedule).update? %>
          <%= link_to 'Edit', edit_schedule_path(schedule), class: "btn btn-info" %>
        <% end %>
        <% if policy(schedule).destroy? %>
          <%= link_to 'Delete', schedule_path(schedule), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="container calendar-region">
    <%= month_calendar do |date| %>
      <%= date.day %>
      <div class="cal-events">
        <% @schedules.each do |schedule| %>
          <% if date == schedule.date %>
            <!-- Schedule Modal Trigger -->
            <div class="event" data-toggle="modal" data-target="#scheduleModal-<%= schedule.id %>" >
            </div>
          <% end %>
          <!-- Schedule Modal -->
          <div class="modal fade" id="scheduleModal-<%= schedule.id %>" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="scheduleModalLabel-<%= schedule.id %>"><i class="fas fa-calendar-week"></i> <%= schedule.date %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= schedule.content %>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
              </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
