
<h2>All Chapters for <%= @subject.name %></h2>
<% @subject.chapters.each do |chapter| %>
  <div class="card">
    <div class="card-header" id="heading<%= chapter.id%>">
      <h2 class="mb-0 d-flex">
        <span class="btn flex-grow-1 text-left collapsed" type="span" data-toggle="collapse" data-target="#collapse<%= chapter.id%>" aria-expanded="false" aria-controls="collapse<%= chapter.id%>"><%= chapter.title %>
        </span>
        <span>
          <%= link_to subject_chapter_path(@subject, chapter) do %>
          <i class="fas fa-arrow-circle-right"></i>
          <% end %>
        </span>
      </h2>
    </div>
    <div id="collapse<%= chapter.id%>" class="collapse" aria-labelledby="heading<%= chapter.id%>" data-parent="#accordionExample">
      <div class="card-body">
        <%= chapter.description %>
        <br>
        <%= link_to "Go to chapter", subject_chapter_path(@subject, chapter), class:"btn btn-sm btn-primary mt-3 rounded"%>
      </div>
    </div>
  </div>
<% end %>


