<div class="container">
  <div class="form-item">
    <%= simple_form_for (@subject) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.association :category %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
