<div class="container">
  <% @users.each do |user| %>
    <div class="card-user my-4">
      <% if user.photo.attached?%>
        <%= cl_image_tag user.photo.key, gravity: :face, crop: :thumb  %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <% end %>
      <div class="card-user-infos">
        <% word = user.teacher? ? "Teacher" : "Student"%>
        <h2><%= user.first_name %> <%= user.last_name %> | <%= word %></h2>
        <p><strong><%= user.email %></strong></p>
      </div>
    </div>
  <% end %>
</div>
