<div class="container">
  <div class="mt-4 mb-4 d-flex">
    <div>
      <%= form_tag subjects_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a subject"
        %>
    </div>
    <div>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
  <h2>Number of Subjects: <%= @subjects.count %></h2>
  <%= link_to "Create a subject", new_subject_path, class: "btn-primary btn-lg" %>
  <div class="cards">
    <% @subjects.each do |subject| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <%= link_to subject.name, subject_path(subject) %>
          <p class= "badge badge-success"> <%= subject.category.name%> </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
