<div class="container">
  <div class="mt-4 mb-5">
    <%= form_tag subjects_path, method: :get do %>
      <div class="search-bar form-group">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a subject"
          %>
          <%= submit_tag "Search", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
  <div class="container d-flex justify-content-between align-items-center text-muted">
    <h4>Number of Subjects: <%= @subjects.count %></h4>
    <%= link_to "Create a subject", new_subject_path, class: "btn-primary btn-lg text-decoration-none" %>
  </div>
  <div class="cards">
    <% @subjects.each do |subject| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <p class= "badge badge-success"> <%= subject.category.name%> </p>
          <%= link_to "Go to subject", subject_path(subject) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
