<div class="jumbotron container my-4 position-relative">
  <%= link_to subjects_path, class:'position-absolute', id:'back' do%>
    <i class="far fa-arrow-alt-circle-left"></i>
  <% end %>
  <h1 class="display-4"><%= @subject.name %></h1>
  <p class="lead"><%= @subject.description %></p>
  <hr class="my-4">
  <%= link_to 'Create A Chapter', new_subject_chapter_path(@subject),class:"btn btn-primary rounded-pill" %>
  <%= link_to 'Edit', edit_subject_path(@subject),class:"btn btn-primary rounded-pill" %>
  <%= link_to 'Delete', subject_path(@subject), method: :delete, data: {confirm: 'Are you sure'},class:"btn btn-danger rounded-pill" %>
</div>

<div id="grid">
  <div class="accordion ml-4 mb-4" id="accordionExample" >
    <%= render 'shared/chapteraccordion' %>
  </div>
</div>
