<%= javascript_include_tag 'https://media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js' %>

<div class="videos-container">
  <div id="remote-video"></div>
  <div id="local-video"></div>
  <div class="buttons-panel">
    <%= link_to room_path(@room), method: :delete, class: "btn btn-danger" do %>
      <i class="fas fa-phone"></i>
    <% end %>
    <%= link_to "#", class: "btn btn-dark" do%>
      <i class="fas fa-volume-mute"></i>
    <% end %>
    <%= link_to "#", class: "btn btn-dark" do%>
      <i class="fas fa-microphone-slash"></i>
    <% end %>
    <%= link_to "#", class: "btn btn-dark" do%>
      <i class="fas fa-keyboard"></i>
    <% end %>
    <%= link_to "#", class: "btn btn-dark" do%>
      <i class="fas fa-user-plus"></i>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    setTimeout(
      function() {
        joinRoom("<%= @room_name %>","<%= @token %>");
      }, 2000);
  });
</script>
