<div class="jumbotron container my-4 position-relative">
  <%= link_to subject_path(@chapter.subject), class:'position-absolute', id:'back' do%>
    <i class="far fa-arrow-alt-circle-left"></i>
  <% end %>
  <h1 class="display-4"><%= @chapter.title %></h1>
  <p class="lead"><%= @chapter.description %></p>
  <hr class="my-4">
  <%= link_to 'Add a new material', new_subject_chapter_material_path(@chapter.subject, @chapter),class:"btn btn-primary rounded-pill" %>
  <%= link_to 'Edit chapter', edit_chapter_path(@chapter), class:"btn btn-primary rounded-pill" %>
  <%= link_to 'Delete', chapter_path(@chapter), method: :delete, data: {confirm: 'Are you sure'}, class:"btn btn-danger rounded-pill"  %>
</div>

<div class="container">
  <% @chapter.materials.each do |material| %>
    <div>
      <%= material.name %>
      <%= link_to 'Edit', edit_material_path(material) %>
      <%= link_to 'Delete', material_path(material), method: :delete, data: {confirm: 'Are you sure'}  %>
    </div>
  <% end %>
  <%= link_to 'Add Material', new_subject_chapter_material_path(@chapter.subject, @chapter) %>
  <%= link_to 'Back', subject_path(@chapter.subject) %>
</div>

<%= render 'shared/chapteraccordion' %>
