<div class="container">
  <h2><%= @chapter.title %></h2>
  <p><%= @chapter.description %></p>
  <% @chapter.materials.each do |material| %>
    <div>
      <%= material.name %>
      <%= link_to 'Edit', edit_material_path(material) %>
      <%= link_to 'Delete', material_path(material), method: :delete, data: {confirm: 'Are you sure'}  %>
    </div>
  <% end %>
</div>

<%= link_to 'Add Material', new_subject_chapter_material_path(@chapter.subject, @chapter) %>
