<div class="jumbotron container my-4 position-relative">
  <%= link_to subject_path(@chapter.subject), class:'position-absolute', id:'back' do%>
    <i class="far fa-arrow-alt-circle-left"></i>
  <% end %>
  <h1 class="display-4"><%= @chapter.title %></h1>
  <p class="lead"><%= @chapter.description %></p>
  <hr class="my-4">
  <%= link_to 'Add a new material', new_subject_chapter_material_path(@chapter.subject, @chapter),class:"btn btn-primary rounded-pill" %>
  <%= link_to 'Edit chapter', edit_chapter_path(@chapter), class:"btn btn-primary rounded-pill" %>
  <%= link_to 'Delete', chapter_path(@chapter), method: :delete, data: {confirm: 'Are you sure'}, class:"btn btn-danger rounded-pill"  %>
</div>
<div class="accordion ml-4 mb-4" id="accordionExample" >
  <h2>Chapters</h2>
  <% @subject.chapters.each do |chapter| %>
    <div class="card" style="overflow:visible;">
      <div class="card-header" id="heading<%= chapter.id%>">
        <h2 class="mb-0 d-flex">
          <span class="btn btn-link flex-grow-1 text-left collapsed" type="span" data-toggle="collapse" data-target="#collapse<%= chapter.id%>" aria-expanded="false" aria-controls="collapse<%= chapter.id%>"><%= chapter.title %>
          </span>
          <span>
            <% if current_user.teacher %>
              <i class="fas fa-bars"></i>
            <% else %>
              <i class="fas fa-arrow-circle-right"></i>
            <% end %>
          </span>
        </h2>
      </div>
    </div>
  <% end %>
</div>

        <h4><%=  %></h4>

<div id = "materials">
  <% @chapter.materials.each do |material| %>
    <div class="my-4 shadow-sm p-3 mb-5 bg-white rounded">
      <h3><%= material.name %></h3>
      <%= material.content %>
      <%= link_to 'Edit', edit_material_path(material) %>
      <%= link_to 'Delete', material_path(material), method: :delete, data: {confirm: 'Are you sure'}  %>
    </div>
  <% end %>
</div>
